{% extends "templates/partials/base.j2" %}
{% block content %}
<div>
    <div class="index-wrapper container">
        <div class="card-image">
            <img src="img/DigEds_Cat_logo_transp.png" class="img-responsive" alt="logo"
                id="index-picture">
            <div class="text-right">
                <a href="editions.html" class="btn btn-lg procustom-btn"
                    title="Click HERE to browse the editions or select an option from the black menu bar above"
                    class="pull-right">
                    <b><i class="fa fa-angle-right"></i></b>&nbsp;&nbsp;explore the catalogue
                </a>
            </div>
        </div>

        <div class="main-flexbox">

            <div class="card">
                <p class="text-justify"><strong><em>Why?</em></strong> &nbsp;&nbsp; Since 2012 the <em>Catalogue of
                        Digital Editions</em> has been gathering digital editions and texts in an attempt to survey and
                    identify best practice in the field of digital scholarly editing. Analogous initiatives exist but
                    don't provide the granular analysis of features necessary to better understand the rationale and
                    methodology behind the creation of a digital edition. This <em>Catalogue</em> provides an accessible
                    record of standards and building technologies used, and thus an insight into past and present
                    projects.</p>
            </div>

            <div class="card">
                <p class="text-justify"><strong><em>How?</em></strong> &nbsp;&nbsp; Development on this web application
                    began in 2016 and aims at delivering the <em>Catalogue</em> data in an interactive and user-friendly
                    manner, allowing users to browse, search, filter and order projects around their research interests.
                </p>
            </div>

            <div class="card">
                <p class="text-justify"><strong><em>What?</em></strong> &nbsp;&nbsp; The <em>Catalogue</em> continuously
                    adds digital editions and always seeks external contributions. For instructions on how to submit a
                    digital edition to the <em>Catalogue</em>, please visit the <a target="_blank"
                        href="documentation.html">Documentation</a> page of this site.<br /><br />
                    Projects added will be exposed to over 300 German libraries thanks to the <em>Catalogue</em>'s
                    integration into the <a href="http://dbis.uni-regensburg.de//fachliste.php?lett=l" target="_blank"
                        title="Opens in new tab">German Library Network (DBIS)</a>.</p>
            </div>


        </div>
        <!--main-flexbox end-->

    </div>
    <!--index wrapper end-->
    {% endblock %}