<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6">
                <a href="https://www.oeaw.ac.at/acdh/" class="navlink">
                    <img src="https://shared.acdh.oeaw.ac.at/acdh-common-assets/images/acdh-ch-logo-with-text-grayscale-use-over-black.png"
                        class="footer-logo" alt="ACDHCH"
                        title="Austrian Centre for Digital Humanities and Cultural Heritage" width="30%" />
                </a>
            </div>

            <div class="col-sm-6">
                <a href="http://www.ucl.ac.uk/dh/" class="navlink">
                    <img src="img/ucldh.png" class="footer-logo" alt="UCLDH"
                        title="UCL Centre for Digital Humanities" width="30%" />
                </a>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <p><b>Contact</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <p>
                    Greta Franzini<br>
                    g.franzini.11@ucl.ac.uk</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><b>Find more on the web</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding-left: 10px;">
                <a href="https://github.com/acdh-oeaw/dig_ed_cat" class="extra-logo navlink">
                    <img src="img/GitHub-Mark-Light-64px.png" class="footer-logo" alt="ACDH" title="Github"
                        width="50%" />
                </a>
                <a href="https://twitter.com/search?q=%23digEdsCat" class="extra-logo navlink">
                    <img src="img/TwitterLogo_white.png" class="footer-logo" alt="Twitter" title="DigEdsCat on Twitter"
                        width="50%" />
                </a>
                <a href="https://www.researchgate.net/project/The-Digital-Editions-Catalogue-App-A-web-application-to-browse-curate-and-analyse-digital-editions"
                    class="extra-logo navlink">
                    <img src="img/RG-logo-white.png" class="footer-logo" alt="Research gate" title="Research gate"
                        width="50%" />
                </a>
                <a href="https://www.openaire.eu/search/dataset?datasetId=r37b0ad08687::c2ad7b8b5225d5abc748a1c6bbb07aeb"
                    class="extra-logo navlink">
                    <img src="img/open-aire-logo-white.png" class="footer-logo" alt="Open Aire" title="Open Aire"
                        style="margin-bottom:20px; width: 50%" />
                </a>
                <a href="https://www.zotero.org/groups/2199751/digital_scholarly_editions" class="extra-logo navlink">
                    <img src="img/zotero-logo-white.png" class="footer-logo" alt="Zotero" title="Zotero"
                        style="margin-bottom: 10px; height: 60%" />
                </a>
                <a href="https://creativecommons.org/licenses/by/4.0/" class="extra-logo navlink">
                    <img src="img/by-sa.png" class="footer-logo" alt="CC-BY-SA-4.0" title="CC-BY-SA-4.0 license"
                        style="margin-bottom:25px; padding-top: 20px; width: 60%" />
                </a>
            </div>
        </div>
    </div>
</footer>