{% for x in objects %}
instantsearch.widgets.refinementList({{ '{' }}
    container: '#refinement-{{ x[0] }}',
    attribute: '{{ x[0] }}',
    searchable: true,
    searchablePlaceholder: 'Search  {{ x[1] }}',
    cssClasses: {{ '{' }}
      searchableInput: 'form-control form-control-sm mb-2 border-light-2',
      searchableSubmit: 'd-none',
      searchableReset: 'd-none',
      showMore: 'btn btn-secondary btn-sm align-content-center',
      list: 'list-unstyled',
      count: 'badge ms-2 bg-info',
      label: 'd-flex align-items-center',
      labelText: 'ms-2',
      checkbox: 'ms-2',
    {{ '}' }}
{{ '}' }}),
{% endfor %}
