{% extends "templates/partials/base.html" %}
{% block title%} Browse Editions {% endblock %}
{% block scriptHeader %}
<script src="https://cdn.jsdelivr.net/npm/typesense-instantsearch-adapter@2/dist/typesense-instantsearch-adapter.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"
    integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js"
    integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class="card-body">
    <div class="ais-InstantSearch">
        <div class="row">
            <div class="col-md-4">
                <div id="stats-container"></div>
                <div id="searchbox"></div>
                <div id="current-refinements"></div>
                <div id="clear-refinements"></div>
                
                {% for x in objects %}
                <h4>{{ x[1] }}</h4>
                <div id="refinement-{{ x[0] }}"></div>
                {% endfor %}
            </div>
            <div class="col-md-8">
                <div id="hits"></div>
                <div id="pagination"></div>
            </div>
        </div>
    </div>                          
</div>
<script src="js/ts_index.js"></script>

{% endblock %}