{% extends "templates/partials/base.j2" %}
{% block title%} {{ object.edition_name }} {% endblock %}
{% block content %}
<div class="panel panel-default container">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                {% if previous_entry %}
                <h2>
                    <a href="#">prev</a>
                </h2>
                {% endif %}
            </div>
            <div class="col-md-8" style="text-align:center;">
                <h2>{{ title }}</h2>
            </div>
            <div class="col-md-2">
                {% if next_entry %}
                <h2>
                    <a href="#" style="float:right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"
                            title="next edition">next</span></a>
                </h2>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table id="example" class="table table-striped table-hover" style="width:100%">
            {% for key, value in object.items() %}
            <tr>
                <th>{{ value.label }}</th>
                <td>
                {% if value.data.startswith('http') %}
                    <a href="{{ value.data }}">{{ value.data }}</a>
                {% else %}
                    {{ value.data }}
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}